@model IEnumerable<Product>

    <h2>Products by Category</h2>

    <script src="~/js/site.js"></script>

    <table class="table-bordered">
        <tr>
            <th>Product ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Stock Level</th>
        </tr>
        @foreach(var product in Model)
        {
            <tr>
                <td>@product.ProductID</td>
                <td>@product.Name</td>
                <td>@product.Price</td>
                <td>@product.StockLevel</td>
            </tr>      
        }
    </table>